.counterUp {
    width: 100%;
    background-color: #F6F4F5;
    color: black;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .countItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3B3A3A;
  }
  
  .countItem p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Alata', sans-serif;
    color: #3B3A3A;
  }
  
  .countItem h1 {
    font-size: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 1199px) {
    .counterUp {
      padding: 40px 60px;
    }
  
    .countItem h1 {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .counterUp {
      padding: 30px 40px;
    }
  
    .countItem h1 {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .counterUp {
      padding: 20px 30px;
    }
  
    .countItem h1 {
      font-size: 35px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .counterUp {
      padding: 15px 20px;
      flex-direction: column;
      gap: 10px;
    }
  
    .countItem {
      align-items: center;
      text-align: center;
    }
  
    .countItem h1 {
      font-size: 30px;
    }
  }
  